<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="app.css"/>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>  <!-- defines ngRoute-->
    <script src="bower_components/angular-resource/angular-resource.js"></script>  <!-- defines ngResource-->
    <script src="app.module.js"></script> <!-- modules first before components -->
    <script src="app.config.js"></script>  <!-- providers to our main modules -->

    <script src="phone-list/phone-list.module.js"></script> <!-- component script -->
    <script src="phone-list/phone-list.component.js"></script>

    <!-- defines a new module containing phoneDetail-->
    <script src="phone-detail/phone-detail.module.js"></script>
    <!-- defines a dummy phoneDetail component -->
    <script src="phone-detail/phone-detail.component.js"></script>

    <!-- core module -->
    <script src="core/core.module.js"></script>
    <script src="core/checkmark/checkmark.filter.js"></script>

    <!-- resource service -->
    <script src="core/phone/phone.module.js"></script>
    <script src="core/phone/phone.service.js"></script>
</head>

<body>
<h1>LENNY</h1>
<h3>{{1+1}}</h3>

<div ng-view></div>

<!-- use a custom component to render a list of phones -->
<!--<phone-list></phone-list>-->

<!--<hr/>-->
<!--<h3>Another instance of component. Imagine this is in a separate page. Very convenient for reusability!</h3>-->
<!--<phone-list></phone-list>-->

</body>


<!--   <body ng-controller="PhoneListController">
    <ul>
        <li ng-repeat="phone in phones">
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
        </li>
    </ul>

    <p>Total number of phones: {{ phones.lengths }}</p>

    <h3>Hello {{ name }}</h3>

    <table border="1">
        <tr><th>Row number</th></tr>
        <tr ng-repeat="i in [0,1,2,3,4,5]">
            <td>{{ i }}</td>    
        </tr>
    </table>

    <h4>Multiplication table</h4>
    <table border="1">
        <tr ng-repeat="i in [1,2,3,4,5,6,7,8]">
            <td ng-repeat="j in [1,2,3,4,5,6,7,8]"> {{ i*j }} </td>
        </tr>

    </table>

  </body> -->
</html>
