<html ng-app="MainApp">

<head><title>Notes App</title></head>

<body ng-controller="MainCtrl as ctrl">
<h2>What are your favorite sports?</h2>
<div ng-repeat="sport in ctrl.sports">
	<label ng-bind="sport.label"></label>

	<div>with binding (2-way)
		<input type="checkbox"
				ng-model="sport.selected"
				ng-true-value="YES"
				ng-false-value="NO" />
	</div>

	<div>Using ng-checked (1-way)
		<input type="checkbox" 
				ng-checked="sport.selected === 'YES'">
	</div>
	<div>
		Current state: {{ sport.selected }}
	</div>


</div>

<hr/>


<div ng-init="user = {gender: 'female'}; otherGender = 'other' ">
	<input type="radio"
			name="gender"
			ng-model="user.gender"
			value="male"
			>MALE
	<input type="radio"
			name="gender"
			ng-model="user.gender"
			value="female"
			>FEMALE
	<br>
	DYNAMIC value
	<br>
	<input type="radio"
			name="gender"
			ng-model="user.gender"
			ng-value="otherGender"
			>{{otherGender}}
</div>

GENDER<div ng-bind="user.gender"></div>

<hr>

STATIC
<div ng-init="location = 'India'">
	<select ng-model="location">
		<option value="USA">USA</option>
		<option value="India">India</option>
		<option value="Other">Other</option>
	</select>
</div>

<hr>

DYNAMIC
<div>
	<select ng-model="ctrl.selectedPetId"
			ng-options="p.id as p.name for p in ctrl.pets"> <!-- model(ID) as label(name) for item in array -->
	</select>
	Selected Pet ID : {{ ctrl.selectedPetId }}
</div>

<div>
	<select ng-model="ctrl.selectedPet"
			ng-options="p.name for p in ctrl.pets">
	</select>
	Selected Pet: {{ ctrl.selectedPet }}
</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

<script type="text/javascript">
	angular.module("MainApp", [])
		.controller("MainCtrl", [function() {
			var self = this;

			self.sports = [
				{label: 'Basketball', selected: 'YES'},	
				{label: 'Cricket', selected: 'NO'},	
				{label: 'Soccer', selected: 'NO'},	
				{label: 'Swimming', selected: 'YES'}
				];	

			self.pets = [
				{name:'cat', id: 1},
				{name:'dog', id: 2},
				{name:'mouse', id: 3}				
			];	


			self.selectedPetId = 2;		// init to dog
			self.selectedPet = self.pets[1];


		}]);

</script>


</body>

</html>